.refactor-dropdown{
  width: 9rem;
  height: 3rem;
  >select{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    font-size: 1rem;
    >option{
      cursor: pointer;
    }
  }
}