@import "../Higher-Level-Css/Colors";

.lec-lab-outer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 8.5vw;
  height: 20vh;
  color: $first;
  background-color: $second;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 500;
  border: 2px solid black;
  .lec-lab-time{
    //color: black;
  }
  hr{
    width: 100%;
  }
  .lec-lab-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    >label{
      padding: 0.18rem;
    }
  }
  .lec-lab-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40%;
    > button {
      cursor: pointer;
      width: 50%;
      outline: none;
      text-decoration: none;
      border: none;
      background-color: #1f262e;
      color: $first;
      border-radius: 0.3rem;
      text-transform: uppercase;
      font-size: 0.6rem;
      font-weight: 500;
    }
  }
}